include README.md
include LICENSE
include MANIFEST.in
recursive-include sysml_visualizer *.py
recursive-include sysml_visualizer *.sysml
recursive-include sysml_visualizer *.skin
exclude tests/*
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store